//- index.jade
extends ../layout.jade
block content
    ul.breadcrumbs
        li
            a(href="./") Главная
        li
            span Контакты
    section.content-block
        h1.default-title Наши контакты
        h2.default-sub-title Lorem ipsum dolor sit amet enim. Etiam ullamcorp uspendisse a pellentesque.
        .contact-list
            ul
                li г. Москва, Ленина, 45
                li Пн-Вв с 9:00 до 18:00
                li
                    a(href="mailto:s.klimov@mail.ru") s.klimov@mail.ru
                li 8 (495) 456 78 78
        h3 Наши контакты
        h2.default-sub-title Lorem ipsum dolor sit amet enim. Etiam ullamcorp uspendisse a pellentesque. li klimov
        form.form-validate(name="formValidate" is-valide-border="{{formValidate.$invalid}}" novalidate ng-controller="FormCtrl" ng-init="action='./controller.php'")
            div.select-block(ng-init='dataForm.theme=[{"name":"theme1","maker" : "Вопрос",ticked : true},{"name":"theme2","maker" : "Вопрос2",ticked : false},{"name":"theme3","maker" : "Вопрос3",ticked : false}]')
                div(isteven-multi-select
                input-model="dataForm.theme"
                output-model="dataForm.themeSelected"
                button-label="maker"
                item-label="maker"
                tick-property="ticked"
                disable-property="disabled"
                selection-mode="single"
                helper-elements)
            div.small
                label(for="name") Имя
                input#name(type="text" name="name" ng-model='dataForm.data.name' autocomplete="off" required)
            div.small
                label(for="email") E-mail
                input#email(type="email" name="email" ng-model='dataForm.data.email' autocomplete="off" required)
            div
                label(for="msg") Сообщение
                textarea(name="msg" ng-model='dataForm.data.msg' autocomplete="off" required)
            input(type="hidden" name="task" ng-init='dataForm.hidden.task="contacts"' ng-model='dataForm.hidden.task')
            div.wrapper-send
                button.send(ng-click='send(dataForm,formValidate,"contacts",action)') Отправить
    +also-like()